In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('GSAF5.csv', encoding="ISO-8859-1")

In [13]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [33]:
colnames = ['Case Number','Date', 'Year', 'Country', 'Area', 'Fatal (Y/N)', 'Activity', 'original order']
#pd.DataFrame(data, columns=colnames).head()
proyecto=pd.DataFrame(data, columns=colnames)
hola.head(10)

,Case Number,Date,Year,Country,Area,Fatal (Y/N),Activity,original order
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,N,Surfing,5993
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,N,Surfing,5992
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,N,Surfing,5991
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5990
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5989
5,2016.09.15.R,15-Sep-16,2016,AUSTRALIA,Western Australia,N,Fishing,5988
6,2016.09.11,11-Sep-16,2016,USA,Florida,N,Wading,5987
7,2016.09.07,07-Sep-16,2016,USA,Hawaii,N,Swimming,5986
8,2016.09.06,06-Sep-16,2016,NEW CALEDONIA,North Province,Y,Kite surfing,5985
9,2016.09.05.b,05-Sep-16,2016,USA,South Carolina,N,Boogie boarding,5984

In [34]:
null_cols = proyecto.isnull().sum()
null_cols[null_cols > 0]

Country         43
Area           402
Fatal (Y/N)     19
Activity       527
dtype: int64

In [39]:
#proyecto1=proyecto
#proyecto1.dropna().head(300) QUERÍA ELIMINAR TODAS LAS FILAS QUE TUVIERAN AL MENOS UN NULO PEOR ME DI CUENTA DE QUE SALÍAN DEMASIADAS.

,Case Number,Date,Year,Country,Area,Fatal (Y/N),Activity,original order
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,N,Surfing,5993
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,N,Surfing,5992
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,N,Surfing,5991
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5990
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5989
5,2016.09.15.R,15-Sep-16,2016,AUSTRALIA,Western Australia,N,Fishing,5988
6,2016.09.11,11-Sep-16,2016,USA,Florida,N,Wading,5987
7,2016.09.07,07-Sep-16,2016,USA,Hawaii,N,Swimming,5986
8,2016.09.06,06-Sep-16,2016,NEW CALEDONIA,North Province,Y,Kite surfing,5985
9,2016.09.05.b,05-Sep-16,2016,USA,South Carolina,N,Boogie boarding,5984
10,2016.09.05.a,05-Sep-16,2016,AUSTRALIA,Western Australia,N,Surfing,5983
11,2016.09.04,04-Sep-16,2016,USA,Florida,N,Body boarding,5982
12,2016.09.01,01-Sep-16,2016,USA,California,N,Spearfishing,5981
13,2016.08.29.b,29-Aug-16,2016,USA,Florida,N,Surfing,5980
14,2016.08.29.a,29-Aug-16,2016,USA,Florida,N,Surfing,5979
16,2016.08.25,25-Aug-16,2016,USA,Florida,N,Wading,5977
17,2016.08.07,07-Aug-16,2016,BAHAMAS,New Providence Island,N,Snorkeling,5976
18,2016.08.06,06-Aug-16,2016,USA,Hawaii,N,SUP Foil boarding,5975
19,2016.08.04,04-Aug-16,2016,USA,Florida,N,Surfing,5974
20,2016.07.29,29-Jul-16,2016,SPAIN,Alicante Province,N,Swimming,5973
21,2016.07.28.R,28-Jul-16,2016,CHINA,Hong Kong,N,Swimming,5972
22,2016.07.28,28-Jul-16,2016,AUSTRALIA,Western Australia,N,Kayaking,5971
23,2016.07.27,27-Jul-16,2016,USA,Florida,N,Lobstering,5970
24,2016.07.26,26-Jul-16,2016,AUSTRALIA,New South Wales,N,Surfing,5969
25,2016.07.24,24-Jul-16,2016,JAPAN,Kochi Prefecture,N,Surfing,5968
26,2016.07.23.b,23-Jul-16,2016,AUSTRALIA,Tasmania,N,Surfing,5967
27,2016.07.23.a,23-Jul-16,2016,BAHAMAS,Abaco Islands,N,Spearfishing,5966
28,2016.07.20,20-Jul-16,2016,AUSTRALIA,Queensland,N,Fishing,5965
29,2016.07.17,17-Jul-16,2016,USA,Alabama,N,Fishing in Alabama Deep Fishing Rodeo,5964
30,2016.07.16.b,16-Jul-16,2016,USA,Florida,N,Surfing,5963
...,...,...,...,...,...,...,...,...
300,2014.08.02,02-Aug-14,2014,USA,Florida,N,Surfing,5692
301,2014.08.02,02-Aug-14,2014,USA,Florida,N,Boogie boarding,5691
302,2014.08.01,01-Aug-14,2014,SOUTH AFRICA,Western Cape Province,N,Surfing,5690
304,2014.07.27,27-Jul-14,2014,USA,North Carolina,N,Swimming,5688
305,2014.07.22,22-Jul-14,2014,REUNION,Saint-Leu,N,Surfing,5687
306,2014.07.21,21-Jul-14,2014,USA,Florida,N,Standing,5686
307,2014.07.20,20-Jul-14,2014,SPAIN,Canary Islands,N,Wading,5685
308,2014.07.16,16-Jul-14,2014,USA,Hawaii,N,Swimming,5684
309,2014.07.14,14-Jul-14,2014,USA,Florida,N,Swimming,5683
310,2014.07.13,13-Jul-14,2014,BAHAMAS,West End,Y,Shark diving,5682
311,2014.07.12,12-Jul-14,2014,USA,North Carolina,N,Body surfing,5681
312,2014.07.09,09-Jul-14,2014,USA,Florida,N,Surfing,5680
313,2014.07.05.b,05-Jul-14,2014,USA,California,N,Swimming,5679
314,2014.07.05.a,05-Jul-14,2014,USA,California,N,Surfing,5678
315,2014.07.03,03-Jul-14,2014,USA,South Carolina,N,Body surfing,5677
317,2014.06.25,25-Jun-14,2014,BAHAMAS,Abaco Islands,N,Spearfishing,5675
318,2014.06.18.b,18-Jun-14,2014,AUSTRALIA,South Australia,N,Surfing,5674
319,2014.06.18.a,18-Jun-14,2014,AUSTRALIA,South Australia,N,Body boarding,5673
320,2014.06.17.R,Reported 17-Jun-2014,2014,AUSTRALIA,Western Australia,N,Petting a shark,5672
322,2014.06.09.b,09-Jun-14,2014,USA,Delaware,N,Standing,5670
323,2014.06.09.a,09-Jun-14,2014,AUSTRALIA,South Australia,N,Body boarding,5669
324,2014.06.08,08-Jun-14,2014,JAPAN,Atsumi peninsula,N,Surfing,5668
325,2014.06.07,07-Jun-14,2014,USA,Texas,N,Kneeling in the water,5667
326,2014.06.01.c,01-Jun-14,2014,USA,Florida,N,Swimming,5666
327,2014.06.01.b,01-Jun-14,2014,AUSTRALIA,New South Wales,N,Surfing,5665
328,2014.06.01.a,01-Jun-14,2014,USA,Palmyra Atoll,N,Tagging sharks,5664
329,2014.05.27.R,24-May-14,2014,AUSTRALIA,Queensland,N,Fell into the water,5663
330,2014.05.23,23-May-14,2014,FRANCE,Wallis and Futuna,N,Scuba diving,5662
331,2014.05.22,22-May-14,2014,AUSTRALIA,New South Wales,N,Teasing a shark,5661
332,2015.11.20,20-Nov-15,2015,ECUADOR,Galapagos Islands,N,Snorkeling,5661

In [43]:
null_cols = proyecto.isnull().sum()
null_cols[null_cols > 0]

Country         43
Area           402
Fatal (Y/N)     19
Activity       527
dtype: int64

In [44]:
proyecto.dtypes

Case Number       object
Date              object
Year               int64
Country           object
Area              object
Fatal (Y/N)       object
Activity          object
original order     int64
dtype: object

In [45]:
proyecto

,Case Number,Date,Year,Country,Area,Fatal (Y/N),Activity,original order
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,N,Surfing,5993
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,N,Surfing,5992
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,N,Surfing,5991
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5990
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5989
5,2016.09.15.R,15-Sep-16,2016,AUSTRALIA,Western Australia,N,Fishing,5988
6,2016.09.11,11-Sep-16,2016,USA,Florida,N,Wading,5987
7,2016.09.07,07-Sep-16,2016,USA,Hawaii,N,Swimming,5986
8,2016.09.06,06-Sep-16,2016,NEW CALEDONIA,North Province,Y,Kite surfing,5985
9,2016.09.05.b,05-Sep-16,2016,USA,South Carolina,N,Boogie boarding,5984
10,2016.09.05.a,05-Sep-16,2016,AUSTRALIA,Western Australia,N,Surfing,5983
11,2016.09.04,04-Sep-16,2016,USA,Florida,N,Body boarding,5982
12,2016.09.01,01-Sep-16,2016,USA,California,N,Spearfishing,5981
13,2016.08.29.b,29-Aug-16,2016,USA,Florida,N,Surfing,5980
14,2016.08.29.a,29-Aug-16,2016,USA,Florida,N,Surfing,5979
15,2016.08.27,27-Aug-16,2016,REUNION,NaN,N,Surfing,5978
16,2016.08.25,25-Aug-16,2016,USA,Florida,N,Wading,5977
17,2016.08.07,07-Aug-16,2016,BAHAMAS,New Providence Island,N,Snorkeling,5976
18,2016.08.06,06-Aug-16,2016,USA,Hawaii,N,SUP Foil boarding,5975
19,2016.08.04,04-Aug-16,2016,USA,Florida,N,Surfing,5974
20,2016.07.29,29-Jul-16,2016,SPAIN,Alicante Province,N,Swimming,5973
21,2016.07.28.R,28-Jul-16,2016,CHINA,Hong Kong,N,Swimming,5972
22,2016.07.28,28-Jul-16,2016,AUSTRALIA,Western Australia,N,Kayaking,5971
23,2016.07.27,27-Jul-16,2016,USA,Florida,N,Lobstering,5970
24,2016.07.26,26-Jul-16,2016,AUSTRALIA,New South Wales,N,Surfing,5969
25,2016.07.24,24-Jul-16,2016,JAPAN,Kochi Prefecture,N,Surfing,5968
26,2016.07.23.b,23-Jul-16,2016,AUSTRALIA,Tasmania,N,Surfing,5967
27,2016.07.23.a,23-Jul-16,2016,BAHAMAS,Abaco Islands,N,Spearfishing,5966
28,2016.07.20,20-Jul-16,2016,AUSTRALIA,Queensland,N,Fishing,5965
29,2016.07.17,17-Jul-16,2016,USA,Alabama,N,Fishing in Alabama Deep Fishing Rodeo,5964
...,...,...,...,...,...,...,...,...
5962,ND.0031,World War II,0,PAPUA NEW GUINEA,Madang Province,N,"Aircraft ditched in the sea, swimming ashore",31
5963,ND.0030,Before 1905,0,BURMA,NaN,Y,Bathing,30
5964,ND.0028,A few years before 1938,0,ITALY,Adriatic Sea,N,Wooden fishing boat,29
5965,ND.0027,No date,0,GREECE,Dodecanese Islands,N,Sponge diving,28
5966,ND.0026,Early 1930s,0,BELIZE,NaN,Y,Standing,27
5967,ND.0025,Before 1927,0,AUSTRALIA,New South Wales,UNKNOWN,NaN,26
5968,ND.0024,Between 1918 & 1939,0,REUNION,Saint-Denis,Y,Swimming,25
5969,ND.0023,No date,0,SOUTH AFRICA,Western Cape Province,N,Wading,24
5970,ND.0022,No date,0,AUSTRALIA,NaN,N,Pearl diving,23
5971,ND.0021,No date,0,SOUTH AFRICA,KwaZulu-Natal,Y,Swimming in pool formed by construction of a w...,22
5972,ND.0020,1920 -1923,0,AUSTRALIA,Queensland,Y,NaN,21
5973,ND.0019,Before 1921,0,USA,Florida,N,Fishing,20
5974,ND.0018,Before 1911,0,VIETNAM,Ba Ria-Vung Tau Province,N,Swimming around anchored ship,19
5975,ND.0017,Before 1921,0,SOUTH AFRICA,KwaZulu-Natal,Y,Crew swimming alongside their anchored ship,18
5976,ND.0016,Before 1921,0,SOUTH AFRICA,KwaZulu-Natal,Y,4 men were bathing,17
5977,ND.0015,Before 1917,0,FIJI,Moala Island,Y,Wreck of large double sailing canoe,16
5978,ND.0014,Before 17-Jul-1916,0,USA,North Carolina,N,Swimming,15
5979,ND.0013,No date (3 days after preceding incident) & pr...,0,SOUTH AFRICA,KwaZulu-Natal,Y,Fishing,14
5980,ND.0012,Before 19-Jul-1913,0,SOUTH AFRICA,KwaZulu-Natal,Y,Wading,13
5981,ND.0011,Before 1911,0,ASIA?,NaN,N,Swimming,12
5982,ND.0010,Circa 1862,0,USA,Hawaii,N,NaN,11
5983,ND.0009,Before 1906,0,AUSTRALIA,NaN,Y,Fishing,10
5984,ND.0008,Before 1906,0,AUSTRALIA,NaN,Y,Fishing,9
5985,ND.0007,Before 1906,0,AUSTRALIA,NaN,Y,Fishing,8
5986,ND.0006,Before 1906,0,AUSTRALIA,New South Wales,Y,Swimming,7
5987,ND.0005,Before 1903,0,AUSTRALIA,Western Australia,Y,Diving,6
5988,ND.0004,Before 1903,0,AUSTRALIA,Western Australia,Y,Pearl diving,5
5989,ND.0003,1900-1905,0,USA,North Carolina,Y,Swimming,4
5990,ND.0002,1883-1889,0,PANAMA,NaN,Y,NaN,3
5991,ND.0001,1845-1853,0,CEYLON (SRI LANKA),Eastern Province,Y,Swimming,2

In [47]:
before = len(proyecto)
data = data.drop_duplicates()
after = len(proyecto)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [48]:
print(proyecto.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 8 columns):
Case Number       5992 non-null object
Date              5992 non-null object
Year              5992 non-null int64
Country           5949 non-null object
Area              5590 non-null object
Fatal (Y/N)       5973 non-null object
Activity          5465 non-null object
original order    5992 non-null int64
dtypes: int64(2), object(6)
memory usage: 374.6+ KB
None