In [47]:
import pandas as pd
import numpy as np

In [48]:
data = pd.read_csv('GSAF5.csv', encoding="ISO-8859-1")

In [49]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [50]:
colnames = ['Case Number','Date', 'Year', 'Country', 'Area', 'Fatal (Y/N)', 'Activity', 'original order']
#pd.DataFrame(data, columns=colnames).head()
proyecto=pd.DataFrame(data, columns=colnames)
proyecto.head(10)

,Case Number,Date,Year,Country,Area,Fatal (Y/N),Activity,original order
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,N,Surfing,5993
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,N,Surfing,5992
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,N,Surfing,5991
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5990
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5989
5,2016.09.15.R,15-Sep-16,2016,AUSTRALIA,Western Australia,N,Fishing,5988
6,2016.09.11,11-Sep-16,2016,USA,Florida,N,Wading,5987
7,2016.09.07,07-Sep-16,2016,USA,Hawaii,N,Swimming,5986
8,2016.09.06,06-Sep-16,2016,NEW CALEDONIA,North Province,Y,Kite surfing,5985
9,2016.09.05.b,05-Sep-16,2016,USA,South Carolina,N,Boogie boarding,5984

In [51]:
null_cols = proyecto.isnull().sum()
null_cols[null_cols > 0]

Country         43
Area           402
Fatal (Y/N)     19
Activity       527
dtype: int64

In [52]:
#proyecto1=proyecto
#proyecto1.dropna().head(300) QUERÍA ELIMINAR TODAS LAS FILAS QUE TUVIERAN AL MENOS UN NULO PEOR ME DI CUENTA DE QUE SALÍAN DEMASIADAS.

In [53]:
null_cols = proyecto.isnull().sum()
null_cols[null_cols > 0]

Country         43
Area           402
Fatal (Y/N)     19
Activity       527
dtype: int64

In [54]:
proyecto.dtypes

Case Number       object
Date              object
Year               int64
Country           object
Area              object
Fatal (Y/N)       object
Activity          object
original order     int64
dtype: object

In [55]:
proyecto

,Case Number,Date,Year,Country,Area,Fatal (Y/N),Activity,original order
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,N,Surfing,5993
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,N,Surfing,5992
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,N,Surfing,5991
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5990
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5989
5,2016.09.15.R,15-Sep-16,2016,AUSTRALIA,Western Australia,N,Fishing,5988
6,2016.09.11,11-Sep-16,2016,USA,Florida,N,Wading,5987
7,2016.09.07,07-Sep-16,2016,USA,Hawaii,N,Swimming,5986
8,2016.09.06,06-Sep-16,2016,NEW CALEDONIA,North Province,Y,Kite surfing,5985
9,2016.09.05.b,05-Sep-16,2016,USA,South Carolina,N,Boogie boarding,5984
10,2016.09.05.a,05-Sep-16,2016,AUSTRALIA,Western Australia,N,Surfing,5983
11,2016.09.04,04-Sep-16,2016,USA,Florida,N,Body boarding,5982
12,2016.09.01,01-Sep-16,2016,USA,California,N,Spearfishing,5981
13,2016.08.29.b,29-Aug-16,2016,USA,Florida,N,Surfing,5980
14,2016.08.29.a,29-Aug-16,2016,USA,Florida,N,Surfing,5979
15,2016.08.27,27-Aug-16,2016,REUNION,NaN,N,Surfing,5978
16,2016.08.25,25-Aug-16,2016,USA,Florida,N,Wading,5977
17,2016.08.07,07-Aug-16,2016,BAHAMAS,New Providence Island,N,Snorkeling,5976
18,2016.08.06,06-Aug-16,2016,USA,Hawaii,N,SUP Foil boarding,5975
19,2016.08.04,04-Aug-16,2016,USA,Florida,N,Surfing,5974
20,2016.07.29,29-Jul-16,2016,SPAIN,Alicante Province,N,Swimming,5973
21,2016.07.28.R,28-Jul-16,2016,CHINA,Hong Kong,N,Swimming,5972
22,2016.07.28,28-Jul-16,2016,AUSTRALIA,Western Australia,N,Kayaking,5971
23,2016.07.27,27-Jul-16,2016,USA,Florida,N,Lobstering,5970
24,2016.07.26,26-Jul-16,2016,AUSTRALIA,New South Wales,N,Surfing,5969
25,2016.07.24,24-Jul-16,2016,JAPAN,Kochi Prefecture,N,Surfing,5968
26,2016.07.23.b,23-Jul-16,2016,AUSTRALIA,Tasmania,N,Surfing,5967
27,2016.07.23.a,23-Jul-16,2016,BAHAMAS,Abaco Islands,N,Spearfishing,5966
28,2016.07.20,20-Jul-16,2016,AUSTRALIA,Queensland,N,Fishing,5965
29,2016.07.17,17-Jul-16,2016,USA,Alabama,N,Fishing in Alabama Deep Fishing Rodeo,5964
...,...,...,...,...,...,...,...,...
5962,ND.0031,World War II,0,PAPUA NEW GUINEA,Madang Province,N,"Aircraft ditched in the sea, swimming ashore",31
5963,ND.0030,Before 1905,0,BURMA,NaN,Y,Bathing,30
5964,ND.0028,A few years before 1938,0,ITALY,Adriatic Sea,N,Wooden fishing boat,29
5965,ND.0027,No date,0,GREECE,Dodecanese Islands,N,Sponge diving,28
5966,ND.0026,Early 1930s,0,BELIZE,NaN,Y,Standing,27
5967,ND.0025,Before 1927,0,AUSTRALIA,New South Wales,UNKNOWN,NaN,26
5968,ND.0024,Between 1918 & 1939,0,REUNION,Saint-Denis,Y,Swimming,25
5969,ND.0023,No date,0,SOUTH AFRICA,Western Cape Province,N,Wading,24
5970,ND.0022,No date,0,AUSTRALIA,NaN,N,Pearl diving,23
5971,ND.0021,No date,0,SOUTH AFRICA,KwaZulu-Natal,Y,Swimming in pool formed by construction of a w...,22
5972,ND.0020,1920 -1923,0,AUSTRALIA,Queensland,Y,NaN,21
5973,ND.0019,Before 1921,0,USA,Florida,N,Fishing,20
5974,ND.0018,Before 1911,0,VIETNAM,Ba Ria-Vung Tau Province,N,Swimming around anchored ship,19
5975,ND.0017,Before 1921,0,SOUTH AFRICA,KwaZulu-Natal,Y,Crew swimming alongside their anchored ship,18
5976,ND.0016,Before 1921,0,SOUTH AFRICA,KwaZulu-Natal,Y,4 men were bathing,17
5977,ND.0015,Before 1917,0,FIJI,Moala Island,Y,Wreck of large double sailing canoe,16
5978,ND.0014,Before 17-Jul-1916,0,USA,North Carolina,N,Swimming,15
5979,ND.0013,No date (3 days after preceding incident) & pr...,0,SOUTH AFRICA,KwaZulu-Natal,Y,Fishing,14
5980,ND.0012,Before 19-Jul-1913,0,SOUTH AFRICA,KwaZulu-Natal,Y,Wading,13
5981,ND.0011,Before 1911,0,ASIA?,NaN,N,Swimming,12
5982,ND.0010,Circa 1862,0,USA,Hawaii,N,NaN,11
5983,ND.0009,Before 1906,0,AUSTRALIA,NaN,Y,Fishing,10
5984,ND.0008,Before 1906,0,AUSTRALIA,NaN,Y,Fishing,9
5985,ND.0007,Before 1906,0,AUSTRALIA,NaN,Y,Fishing,8
5986,ND.0006,Before 1906,0,AUSTRALIA,New South Wales,Y,Swimming,7
5987,ND.0005,Before 1903,0,AUSTRALIA,Western Australia,Y,Diving,6
5988,ND.0004,Before 1903,0,AUSTRALIA,Western Australia,Y,Pearl diving,5
5989,ND.0003,1900-1905,0,USA,North Carolina,Y,Swimming,4
5990,ND.0002,1883-1889,0,PANAMA,NaN,Y,NaN,3
5991,ND.0001,1845-1853,0,CEYLON (SRI LANKA),Eastern Province,Y,Swimming,2

In [56]:
before = len(proyecto)
data = data.drop_duplicates()
after = len(proyecto)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [57]:
print(proyecto.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 8 columns):
Case Number       5992 non-null object
Date              5992 non-null object
Year              5992 non-null int64
Country           5949 non-null object
Area              5590 non-null object
Fatal (Y/N)       5973 non-null object
Activity          5465 non-null object
original order    5992 non-null int64
dtypes: int64(2), object(6)
memory usage: 374.6+ KB
None

In [58]:
proyecto.replace(np.nan, "0")
proyecto.head(100)

,Case Number,Date,Year,Country,Area,Fatal (Y/N),Activity,original order
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,N,Surfing,5993
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,N,Surfing,5992
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,N,Surfing,5991
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5990
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,N,Surfing,5989
5,2016.09.15.R,15-Sep-16,2016,AUSTRALIA,Western Australia,N,Fishing,5988
6,2016.09.11,11-Sep-16,2016,USA,Florida,N,Wading,5987
7,2016.09.07,07-Sep-16,2016,USA,Hawaii,N,Swimming,5986
8,2016.09.06,06-Sep-16,2016,NEW CALEDONIA,North Province,Y,Kite surfing,5985
9,2016.09.05.b,05-Sep-16,2016,USA,South Carolina,N,Boogie boarding,5984
10,2016.09.05.a,05-Sep-16,2016,AUSTRALIA,Western Australia,N,Surfing,5983
11,2016.09.04,04-Sep-16,2016,USA,Florida,N,Body boarding,5982
12,2016.09.01,01-Sep-16,2016,USA,California,N,Spearfishing,5981
13,2016.08.29.b,29-Aug-16,2016,USA,Florida,N,Surfing,5980
14,2016.08.29.a,29-Aug-16,2016,USA,Florida,N,Surfing,5979
15,2016.08.27,27-Aug-16,2016,REUNION,NaN,N,Surfing,5978
16,2016.08.25,25-Aug-16,2016,USA,Florida,N,Wading,5977
17,2016.08.07,07-Aug-16,2016,BAHAMAS,New Providence Island,N,Snorkeling,5976
18,2016.08.06,06-Aug-16,2016,USA,Hawaii,N,SUP Foil boarding,5975
19,2016.08.04,04-Aug-16,2016,USA,Florida,N,Surfing,5974
20,2016.07.29,29-Jul-16,2016,SPAIN,Alicante Province,N,Swimming,5973
21,2016.07.28.R,28-Jul-16,2016,CHINA,Hong Kong,N,Swimming,5972
22,2016.07.28,28-Jul-16,2016,AUSTRALIA,Western Australia,N,Kayaking,5971
23,2016.07.27,27-Jul-16,2016,USA,Florida,N,Lobstering,5970
24,2016.07.26,26-Jul-16,2016,AUSTRALIA,New South Wales,N,Surfing,5969
25,2016.07.24,24-Jul-16,2016,JAPAN,Kochi Prefecture,N,Surfing,5968
26,2016.07.23.b,23-Jul-16,2016,AUSTRALIA,Tasmania,N,Surfing,5967
27,2016.07.23.a,23-Jul-16,2016,BAHAMAS,Abaco Islands,N,Spearfishing,5966
28,2016.07.20,20-Jul-16,2016,AUSTRALIA,Queensland,N,Fishing,5965
29,2016.07.17,17-Jul-16,2016,USA,Alabama,N,Fishing in Alabama Deep Fishing Rodeo,5964
...,...,...,...,...,...,...,...,...
70,2016.04.18,18-Apr-16,2016,FRENCH POLYNESIA,Tuamotos,N,Spearfishing,5923
71,2016.04.13,13-Apr-16,2016,USA,Florida,N,Spearfishing,5922
72,2016.04.09,09-Apr-16,2016,NEW CALEDONIA,Grand Terre,Y,Walking,5921
73,2016.04.08,08-Apr-16,2016,CAPE VERDE,Boa Vista Island,N,NaN,5920
74,2016.04.07.b,07-Apr-16,2016,USA,Florida,N,Fishing,5919
75,2016.04.07.a,07-Apr-16,2016,USA,Florida,N,SUP,5918
76,2016.03.31,31-Mar-16,2016,USA,Hawaii,N,Snorkeling,5917
77,2016.03.30,30-Mar-16,2016,AUSTRALIA,New South Wales,N,Surfing,5916
78,2016.03.28.b,28-Mar-16,2016,USA,Florida,N,NaN,5915
79,2016.03.28.a,28-Mar-16,2016,AUSTRALIA,New South Wales,N,Surfing,5914
80,2016.03.26,26-Mar-16,2016,BAHAMAS,NaN,N,NaN,5913
81,2016.03.13,13-Mar-16,2016,USA,California,N,Surfing,5912
82,2016.03.11,11-Mar-16,2016,USA,Florida,N,Body surfing,5911
83,2016.03.10,10-Mar-16,2016,Fiji,Vanua Levu,Y,Diving for beche-de-mer,5910
84,2016.03.04,04-Mar-16,2016,USA,Florida,N,NaN,5909
85,2016.03.03.R,Reported 03-Mar-2016,2016,AUSTRALIA,South Australia,N,Fishing,5908
86,2016.03.02,02-Mar-16,2016,BRAZIL,Santa Catarina State,N,Swimming,5907
87,2016.02.22,22-Feb-16,2016,NEW CALEDONIA,South Province,N,Kite surfing,5906
88,2016.02.19,19-Feb-2016,2016,NEW CALEDONIA,South Province,N,Spearfishing,5905
89,2016.02.12,12-Feb-16,2016,DOMINICAN REPUBLIC,Altagracia Province,N,Wading,5904
90,2016.02.10.R,Reported 10-Feb-2016,2016,CAYMAN ISLANDS,Grand Cayman,N,Feeding stingrays?,5903
91,2016.02.10,10-Feb-16,2016,AUSTRALIA,Tasmania,N,Surfing,5902
92,2016.02.05,05-Feb-16,2016,AUSTRALIA,Queensland,N,Walking,5901
93,2016.02.04,04-Feb-16,2016,AUSTRALIA,New South Wales,N,Windsurfing,5900
94,2016.01.29,29-Jan-16,2016,SOUTH AFRICA,KwaZulu-Natal,N,Kayak fishing,5899
95,2016.01.28,28-Jan-16,2016,USA,Hawaii,N,Surfing,5898
96,2016.01.25,25-Jan-16,2016,USA,Hawaii,N,Surfing,5897
97,2016.01.24.b,24-Jan-16,2016,USA,Texas,N,Spearfishing,5896
98,2016.01.24.a,24-Jan-16,2016,UNITED ARAB EMIRATES,Fujairah Emirate,N,Fishing,5895
99,2016.01.23,23-Jan-16,2016,USA,Hawaii,N,Paddle boarding,5894

In [59]:
null_cols1 = proyecto1.isnull().sum()
null_cols1[null_cols1 > 0]

Country     43
Area       402
dtype: int64

In [60]:
colnames1 = ['Case Number', 'Year', 'Country', 'Area']
proyecto1=pd.DataFrame(proyecto, columns=colnames1)
proyecto1.head(100)

     Case Number  Year               Country                   Area
0   2016.09.18.c  2016                   USA                Florida
1   2016.09.18.b  2016                   USA                Florida
2   2016.09.18.a  2016                   USA                Florida
3     2016.09.17  2016             AUSTRALIA               Victoria
4     2016.09.15  2016             AUSTRALIA               Victoria
5   2016.09.15.R  2016             AUSTRALIA      Western Australia
6     2016.09.11  2016                   USA                Florida
7     2016.09.07  2016                   USA                 Hawaii
8     2016.09.06  2016         NEW CALEDONIA         North Province
9   2016.09.05.b  2016                   USA         South Carolina
10  2016.09.05.a  2016             AUSTRALIA      Western Australia
11    2016.09.04  2016                   USA                Florida
12    2016.09.01  2016                   USA             California
13  2016.08.29.b  2016                   USA                Florida
14  2016.08.29.a  2016                   USA                Florida
15    2016.08.27  2016               REUNION                    NaN
16    2016.08.25  2016                   USA                Florida
17    2016.08.07  2016               BAHAMAS  New Providence Island
18    2016.08.06  2016                   USA                 Hawaii
19    2016.08.04  2016                   USA                Florida
20    2016.07.29  2016                 SPAIN      Alicante Province
21  2016.07.28.R  2016                 CHINA              Hong Kong
22    2016.07.28  2016             AUSTRALIA      Western Australia
23    2016.07.27  2016                   USA                Florida
24    2016.07.26  2016             AUSTRALIA        New South Wales
25    2016.07.24  2016                 JAPAN       Kochi Prefecture
26  2016.07.23.b  2016             AUSTRALIA               Tasmania
27  2016.07.23.a  2016               BAHAMAS          Abaco Islands
28    2016.07.20  2016             AUSTRALIA             Queensland
29    2016.07.17  2016                   USA                Alabama
..           ...   ...                   ...                    ...
70    2016.04.18  2016      FRENCH POLYNESIA               Tuamotos
71    2016.04.13  2016                   USA                Florida
72    2016.04.09  2016         NEW CALEDONIA            Grand Terre
73    2016.04.08  2016            CAPE VERDE       Boa Vista Island
74  2016.04.07.b  2016                   USA                Florida
75  2016.04.07.a  2016                   USA                Florida
76    2016.03.31  2016                   USA                 Hawaii
77    2016.03.30  2016             AUSTRALIA        New South Wales
78  2016.03.28.b  2016                   USA                Florida
79  2016.03.28.a  2016             AUSTRALIA        New South Wales
80    2016.03.26  2016               BAHAMAS                    NaN
81    2016.03.13  2016                   USA             California
82    2016.03.11  2016                   USA                Florida
83    2016.03.10  2016                  Fiji             Vanua Levu
84    2016.03.04  2016                   USA                Florida
85  2016.03.03.R  2016             AUSTRALIA        South Australia
86    2016.03.02  2016                BRAZIL   Santa Catarina State
87    2016.02.22  2016         NEW CALEDONIA         South Province
88    2016.02.19  2016         NEW CALEDONIA         South Province
89    2016.02.12  2016    DOMINICAN REPUBLIC    Altagracia Province
90  2016.02.10.R  2016        CAYMAN ISLANDS           Grand Cayman
91    2016.02.10  2016             AUSTRALIA               Tasmania
92    2016.02.05  2016             AUSTRALIA             Queensland
93    2016.02.04  2016             AUSTRALIA        New South Wales
94    2016.01.29  2016          SOUTH AFRICA          KwaZulu-Natal
95    2016.01.28  2016                   USA                 Hawaii
96    2016.01.25  2016                   USA                 Hawaii
97  2016.01.24.b  2016                   USA                  Texas
98  2016.01.24.a  2016  UNITED ARAB EMIRATES       Fujairah Emirate
99    2016.01.23  2016                   USA                 Hawaii

[100 rows x 4 columns]

In [64]:
proyecto1.set_index('Country')

                     Case Number  Year                       Area
Country
USA                 2016.09.18.c  2016                    Florida
USA                 2016.09.18.b  2016                    Florida
USA                 2016.09.18.a  2016                    Florida
AUSTRALIA             2016.09.17  2016                   Victoria
AUSTRALIA             2016.09.15  2016                   Victoria
AUSTRALIA           2016.09.15.R  2016          Western Australia
USA                   2016.09.11  2016                    Florida
USA                   2016.09.07  2016                     Hawaii
NEW CALEDONIA         2016.09.06  2016             North Province
USA                 2016.09.05.b  2016             South Carolina
AUSTRALIA           2016.09.05.a  2016          Western Australia
USA                   2016.09.04  2016                    Florida
USA                   2016.09.01  2016                 California
USA                 2016.08.29.b  2016                    Florida
USA                 2016.08.29.a  2016                    Florida
REUNION               2016.08.27  2016                        NaN
USA                   2016.08.25  2016                    Florida
BAHAMAS               2016.08.07  2016      New Providence Island
USA                   2016.08.06  2016                     Hawaii
USA                   2016.08.04  2016                    Florida
SPAIN                 2016.07.29  2016          Alicante Province
CHINA               2016.07.28.R  2016                  Hong Kong
AUSTRALIA             2016.07.28  2016          Western Australia
USA                   2016.07.27  2016                    Florida
AUSTRALIA             2016.07.26  2016            New South Wales
JAPAN                 2016.07.24  2016           Kochi Prefecture
AUSTRALIA           2016.07.23.b  2016                   Tasmania
BAHAMAS             2016.07.23.a  2016              Abaco Islands
AUSTRALIA             2016.07.20  2016                 Queensland
USA                   2016.07.17  2016                    Alabama
...                          ...   ...                        ...
PAPUA NEW GUINEA         ND.0031     0            Madang Province
BURMA                    ND.0030     0                        NaN
ITALY                    ND.0028     0               Adriatic Sea
GREECE                   ND.0027     0         Dodecanese Islands
BELIZE                   ND.0026     0                        NaN
AUSTRALIA                ND.0025     0            New South Wales
REUNION                  ND.0024     0                Saint-Denis
SOUTH AFRICA             ND.0023     0      Western Cape Province
AUSTRALIA                ND.0022     0                        NaN
SOUTH AFRICA             ND.0021     0              KwaZulu-Natal
AUSTRALIA                ND.0020     0                 Queensland
USA                      ND.0019     0                    Florida
VIETNAM                  ND.0018     0  Ba Ria-Vung Tau  Province
SOUTH AFRICA             ND.0017     0              KwaZulu-Natal
SOUTH AFRICA             ND.0016     0              KwaZulu-Natal
FIJI                     ND.0015     0               Moala Island
USA                      ND.0014     0            North Carolina
SOUTH AFRICA             ND.0013     0              KwaZulu-Natal
SOUTH AFRICA             ND.0012     0              KwaZulu-Natal
ASIA?                    ND.0011     0                        NaN
USA                      ND.0010     0                     Hawaii
AUSTRALIA                ND.0009     0                        NaN
AUSTRALIA                ND.0008     0                        NaN
AUSTRALIA                ND.0007     0                        NaN
AUSTRALIA                ND.0006     0            New South Wales
AUSTRALIA                ND.0005     0          Western Australia
AUSTRALIA                ND.0004     0          Western Australia
USA                      ND.0003     0             North Carolina
PANAMA                   ND.0002     0                        NaN
CEYLON (SRI LANKA)       ND.0001     0           Eastern Province

[5992 rows x 3 columns]

In [71]:
proyecto1['Country'].value_counts() #Quería pasar a indice para contar. BUsco otra manera y contar dentro de las columnas.

USA                             2116
AUSTRALIA                       1279
SOUTH AFRICA                     565
PAPUA NEW GUINEA                 133
NEW ZEALAND                      125
BRAZIL                           102
BAHAMAS                           98
MEXICO                            81
ITALY                             71
FIJI                              62
PHILIPPINES                       59
REUNION                           57
NEW CALEDONIA                     51
MOZAMBIQUE                        44
CUBA                              42
SPAIN                             40
INDIA                             37
EGYPT                             36
CROATIA                           34
PANAMA                            32
JAPAN                             32
SOLOMON ISLANDS                   29
IRAN                              29
GREECE                            25
HONG KONG                         24
JAMAICA                           23
FRENCH POLYNESIA                  22
INDONESIA                         20
ENGLAND                           19
PACIFIC OCEAN                     17
                                ...
ALGERIA                            1
Between PORTUGAL & INDIA           1
SWEDEN                             1
BRITISH ISLES                      1
PUERTO RICO                        1
PARAGUAY                           1
ARUBA                              1
GUYANA                             1
FALKLAND ISLANDS                   1
ST. MARTIN                         1
SYRIA                              1
NORTH ATLANTIC OCEAN               1
NETHERLANDS ANTILLES               1
Seychelles                         1
EQUATORIAL GUINEA / CAMEROON       1
PALESTINIAN TERRITORIES            1
MEXICO                             1
INDIAN OCEAN?                      1
GUATEMALA                          1
SAN DOMINGO                        1
NEVIS                              1
BRITISH NEW GUINEA                 1
MAYOTTE                            1
ASIA?                              1
IRELAND                            1
BAY OF BENGAL                      1
CEYLON (SRI LANKA)                 1
ADMIRALTY ISLANDS                  1
MARTINIQUE                         1
EGYPT / ISRAEL                     1
Name: Country, Length: 203, dtype: int64

In [74]:
proyecto1['Country'].value_counts().sum() 
#total ataques
total_ataques=5949

In [77]:
proyecto1['Country'].value_counts().sum() 
#total ataques
total_ataques=5949

In [78]:
proyecto1['Area'].value_counts()
max_ataques_por_area_Florida=990
#De un total de 5949 ataques, 2116 se produjeron en USA, 990 de ellos en FLorida, que concentra casi una quinta parte del total de los ataques de tuburones en el mundo.c

Florida                               990
New South Wales                       468
Queensland                            300
Hawaii                                282
California                            276
KwaZulu-Natal                         210
Western Cape Province                 188
Western Australia                     172
Eastern Cape Province                 156
South Carolina                        145
South Australia                       103
North Carolina                        100
Victoria                               81
Texas                                  71
Pernambuco                             70
Torres Strait                          70
North Island                           65
New Jersey                             49
Tasmania                               41
South Island                           39
Oregon                                 28
New York                               27
Northern Territory                     23
Abaco Islands                          22
Central Province                       22
Virginia                               19
Havana Province                        18
South Province                         17
Puerto Rico                            16
Gaza                                   16
                                     ...
South Carolina                          1
Caroline Islands                        1
Bay Islands                             1
Northlands                              1
Off Cape Haitien                        1
Málaga                                  1
600 nm west of the Canary Islands       1
Mangaia Island                          1
Unknown, treated at Wick, SCOTLAND      1
Conservatória District                  1
Moorea                                  1
West coast                              1
Guam                                    1
Viti Levu group                         1
San Blas coast                          1
Lomaiviti Province                      1
Trieste                                 1
Dubai                                   1
Cap-Vert Peninsula                      1
Near the Fiji Islands                   1
Batanes Provine                         1
Makira-Uluwa Province                   1
9.35N 79.35W                            1
Samaná Province                         1
Bardestrand                             1
Rodrigues                               1
Muhafazat Hadramawt                     1
Cape Coast                              1
Panama Bay (Pacific Ocean)              1
Suez                                    1
Name: Area, Length: 785, dtype: int64

In [84]:
proyecto1.loc[proyecto1['Area'] == 'Pernambuco']

       Case Number  Year Country        Area
107   2015.12.21.a  2015  BRAZIL  Pernambuco
215     2015.03.31  2015  BRAZIL  Pernambuco
428     2013.07.22  2013  BRAZIL  Pernambuco
450   2013.05.23.b  2013  BRAZIL  Pernambuco
528     2012.08.26  2012  BRAZIL  Pernambuco
622     2011.11.12  2011  BRAZIL  Pernambuco
667     2011.07.31  2011  BRAZIL  Pernambuco
680     2011.06.29  2011  BRAZIL  Pernambuco
867     2009.09.13  2009  BRAZIL  Pernambuco
869     2009.09.07  2009  BRAZIL  Pernambuco
1026    2008.06.11  2008  BRAZIL  Pernambuco
1030  2008.06.01.a  2008  BRAZIL  Pernambuco
1083    2007.12.07  2007  BRAZIL  Pernambuco
1217  2006.08.22.b  2006  BRAZIL  Pernambuco
1236    2006.07.10  2006  BRAZIL  Pernambuco
1247    2006.06.18  2006  BRAZIL  Pernambuco
1256    2006.05.21  2006  BRAZIL  Pernambuco
1267  2006.04.09.a  2006  BRAZIL  Pernambuco
1416    2004.09.08  2004  BRAZIL  Pernambuco
1419    2004.08.21  2004  BRAZIL  Pernambuco
1443  2004.05.23.b  2004  BRAZIL  Pernambuco
1448  2004.05.22.a  2004  BRAZIL  Pernambuco
1451    2004.05.01  2004  BRAZIL  Pernambuco
1461    2004.03.29  2004  BRAZIL  Pernambuco
1469    2004.02.29  2004  BRAZIL  Pernambuco
1541  2003.06.24.c  2003  BRAZIL  Pernambuco
1556  2003.04.23.b  2003  BRAZIL  Pernambuco
1583    2002.12.01  2002  BRAZIL  Pernambuco
1592    2002.10.14  2002  BRAZIL  Pernambuco
1604  2002.09.16.b  2002  BRAZIL  Pernambuco
...            ...   ...     ...         ...
1970    1998.04.01  1998  BRAZIL  Pernambuco
1998    1997.09.16  1997  BRAZIL  Pernambuco
2018    1997.07.17  1997  BRAZIL  Pernambuco
2021  1997.07.02.R  1997  BRAZIL  Pernambuco
2048  1996.10.28.b  1996  BRAZIL  Pernambuco
2049  1996.10.28.a  1996  BRAZIL  Pernambuco
2054    1996.10.00  1996  BRAZIL  Pernambuco
2085    1996.04.07  1996  BRAZIL  Pernambuco
2124    1995.08.27  1995  BRAZIL  Pernambuco
2147    1995.07.07  1995  BRAZIL  Pernambuco
2175    1995.01.02  1995  BRAZIL  Pernambuco
2182    1994.12.13  1994  BRAZIL  Pernambuco
2183    1994.12.11  1994  BRAZIL  Pernambuco
2187    1994.12.01  1994  BRAZIL  Pernambuco
2191    1994.10.18  1994  BRAZIL  Pernambuco
2192    1994.10.17  1994  BRAZIL  Pernambuco
2200    1994.07.24  1994  BRAZIL  Pernambuco
2201  1994.07.09.d  1994  BRAZIL  Pernambuco
2205  1994.07.08.b  1994  BRAZIL  Pernambuco
2222    1994.03.01  1994  BRAZIL  Pernambuco
2228  1994.01.31.b  1994  BRAZIL  Pernambuco
2263    1993.06.30  1993  BRAZIL  Pernambuco
2275    1993.03.27  1993  BRAZIL  Pernambuco
2284    1993.01.23  1993  BRAZIL  Pernambuco
2307    1992.09.18  1992  BRAZIL  Pernambuco
2310    1992.09.10  1992  BRAZIL  Pernambuco
2322  1992.06.28.b  1992  BRAZIL  Pernambuco
2376    1991.04.24  1991  BRAZIL  Pernambuco
2828   1980.11.11.  1980  BRAZIL  Pernambuco
4342    1947.10.10  1947  BRAZIL  Pernambuco

[70 rows x 4 columns]

KeyError: 'Area'