In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('Suicidios.csv')
df=pd.DataFrame(data)
df.head()

#Exploraci√≥n de datos

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [5]:
df.rename(columns = {' gdp_for_year ($) ':'gdp_for_year'},inplace=True)
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [6]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year', 'gdp_for_year',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [7]:
df['gdp_for_year']=df['gdp_for_year'].str.replace(',','')

In [8]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [9]:
df['gdp_for_year']=df.gdp_for_year.astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
gdp_for_year          27820 non-null int64
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.5+ MB

In [11]:
df['country'].value_counts().head(40)

Mauritius            382
Austria              382
Iceland              382
Netherlands          382
United Kingdom       372
United States        372
Singapore            372
Israel               372
Italy                372
Luxembourg           372
Ecuador              372
Republic of Korea    372
Japan                372
Malta                372
Argentina            372
Brazil               372
Greece               372
Belgium              372
Chile                372
Puerto Rico          372
Colombia             372
Mexico               372
Spain                372
Australia            360
Costa Rica           360
Ireland              360
Bulgaria             360
France               360
Guatemala            360
Norway               360
Sweden               358
New Zealand          348
Canada               348
Finland              348
Turkmenistan         348
Uruguay              336
Ukraine              336
Saint Lucia          336
Belize               336
Suriname             336
Name: country, dtype: int64

In [12]:
df['age'].value_counts()

35-54 years    4642
25-34 years    4642
55-74 years    4642
15-24 years    4642
75+ years      4642
5-14 years     4610
Name: age, dtype: int64

In [13]:
df.info()
#No tengo nulos en las columnas que me interesan. LOs n√∫meros est√°n en formato int.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
gdp_for_year          27820 non-null int64
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.5+ MB

In [14]:
df.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,2.782000e+04,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,4.455810e+11,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,1.453610e+12,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,4.691962e+07,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,8.985353e+09,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,4.811469e+10,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,2.602024e+11,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,1.812071e+13,126352.000000

In [15]:
#LImpieza de datos. 
df.columns = df.columns.str.strip()

In [16]:
df.drop(['population','suicides/100k pop','country-year', 'HDI for year','gdp_per_capita ($)', 'generation'], axis=1, inplace=True)
#df1=df.loc[df.country=='Spain']
#df1df.head()

In [17]:
df.head()

   country  year     sex          age  suicides_no  gdp_for_year
0  Albania  1987    male  15-24 years           21    2156624900
1  Albania  1987    male  35-54 years           16    2156624900
2  Albania  1987  female  15-24 years           14    2156624900
3  Albania  1987    male    75+ years            1    2156624900
4  Albania  1987    male  25-34 years            9    2156624900

In [51]:
# df1=df.loc[df.country=='Spain']
# df1

df1=df.query("country=='Spain' | country=='Germany' | country=='France' | country=='Italy' | country=='Belgium'| country=='Denmark'| country=='Croatia'| country=='Finland'| country=='Slovakia'| country=='Greece'| country=='Austria' | country=='Bulgary'| country=='Slovenia'| country=='Estonia' | country=='Hungary'| country=='Ireland' | country=='Poland'| country=='Portugal' | country=='Netherlands'| country=='Romania'| country=='Sweden'| country=='Czech Republic'")
df1.head(50)

#df1=df.loc[(df['country']=='Spain') & (df['country']=='Albania')]
#df1
#df1=df.loc[df.country=='Spain']
#df1
#df4=df3.loc[(df3['year'] >=2005) & (df3['year'] <=2015)]

      country  year     sex          age  suicides_no  gdp_for_year
1786  Austria  1985    male    75+ years          152   69386774475
1787  Austria  1985    male  55-74 years          355   69386774475
1788  Austria  1985    male  35-54 years          515   69386774475
1789  Austria  1985    male  25-34 years          232   69386774475
1790  Austria  1985  female    75+ years          110   69386774475
1791  Austria  1985    male  15-24 years          207   69386774475
1792  Austria  1985  female  55-74 years          220   69386774475
1793  Austria  1985  female  35-54 years          186   69386774475
1794  Austria  1985  female  25-34 years           56   69386774475
1795  Austria  1985  female  15-24 years           50   69386774475
1796  Austria  1985    male   5-14 years            6   69386774475
1797  Austria  1985  female   5-14 years            2   69386774475
1798  Austria  1986    male    75+ years          173   99036165210
1799  Austria  1986    male  55-74 years          355   99036165210
1800  Austria  1986    male  35-54 years          507   99036165210
1801  Austria  1986    male  25-34 years          272   99036165210
1802  Austria  1986  female    75+ years          110   99036165210
1803  Austria  1986    male  15-24 years          199   99036165210
1804  Austria  1986  female  55-74 years          195   99036165210
1805  Austria  1986  female  35-54 years          182   99036165210
1806  Austria  1986  female  25-34 years           80   99036165210
1807  Austria  1986  female  15-24 years           60   99036165210
1808  Austria  1986    male   5-14 years            5   99036165210
1809  Austria  1986  female   5-14 years            1   99036165210
1810  Austria  1987    male    75+ years          208  124168442860
1811  Austria  1987    male  55-74 years          332  124168442860
1812  Austria  1987    male  35-54 years          471  124168442860
1813  Austria  1987    male  25-34 years          247  124168442860
1814  Austria  1987  female    75+ years          126  124168442860
1815  Austria  1987    male  15-24 years          185  124168442860
1816  Austria  1987  female  55-74 years          230  124168442860
1817  Austria  1987  female  35-54 years          155  124168442860
1818  Austria  1987  female  25-34 years           62  124168442860
1819  Austria  1987  female  15-24 years           49  124168442860
1820  Austria  1987  female   5-14 years            2  124168442860
1821  Austria  1987    male   5-14 years            2  124168442860
1822  Austria  1988    male    75+ years          183  133339397080
1823  Austria  1988    male  55-74 years          309  133339397080
1824  Austria  1988    male  35-54 years          431  133339397080
1825  Austria  1988    male  25-34 years          229  133339397080
1826  Austria  1988  female    75+ years          108  133339397080
1827  Austria  1988    male  15-24 years          168  133339397080
1828  Austria  1988  female  55-74 years          186  133339397080
1829  Austria  1988  female  35-54 years          144  133339397080
1830  Austria  1988  female  25-34 years           61  133339397080
1831  Austria  1988  female  15-24 years           28  133339397080
1832  Austria  1988  female   5-14 years            2  133339397080
1833  Austria  1988    male   5-14 years            2  133339397080
1834  Austria  1989    male    75+ years          166  133105805928
1835  Austria  1989    male  55-74 years          358  133105805928

In [19]:
#INtent√© sacar un multindice pero no fue buena idea. Iterar indice columna no era tan f√°cil.
#df1.set_index(['country', 'year'], inplace=True)
#df1

In [20]:
#df1.loc['Spain', (2006,2007,2008,2009,2010,2011,2012,2013,2014), :]
#df1.loc[('Spain', 2000), :]

In [22]:
# df1.groupby(['country', 'year']).sum()
#NO entiendo por qu√© no lo hace.
#df2 = df1.groupby(['country', 'year']).agg(sum)
#df3 = pd.merge(df1, df2, on=['country', 'year'], how='inner')
#df3.head()

,country,year,sex,age,suicides_no_x,gdp_for_year_x,suicides_no_y,gdp_for_year_y
0,Germany,1990,male,75+ years,1516,1764967948917,13924,21179615387004
1,Germany,1990,male,55-74 years,2406,1764967948917,13924,21179615387004
2,Germany,1990,male,35-54 years,3302,1764967948917,13924,21179615387004
3,Germany,1990,female,75+ years,1174,1764967948917,13924,21179615387004
4,Germany,1990,male,25-34 years,1488,1764967948917,13924,21179615387004

In [27]:

df2=df1.groupby(['country','year', 'gdp_for_year'])['suicides_no'].sum().reset_index()
df3=df2[['country','year','suicides_no','gdp_for_year']]
df3

#suicidios_por_a√±o=[]
#sumatorio=0
##my_dict={}
#for index, row in df1.iterrows():
    #my_dict[row['year']] = my_dict.get(row['year'], 0) + row['suicides_no']
    
    
    
       # sumatorio+=row['suicides_no']
        #suicidios_por_a√±o.insert(index,)
        #suicidios_por_a√±o.append(sum(row['suicides_no']))
#print(my_dict)
    #for y in df1.suicides_no:
      #  
        #    
#print(suicidios_por_a√±o)

    country  year  suicides_no   gdp_for_year
0   Germany  1990        13924  1764967948917
1   Germany  1991        14010  1861873895109
2   Germany  1992        13458  2123130870382
3   Germany  1993        12690  2068555542411
4   Germany  1994        12718  2205966011812
5   Germany  1995        12888  2591620035485
6   Germany  1996        12225  2503665193657
7   Germany  1997        12256  2218689375141
8   Germany  1998        11654  2243225519618
9   Germany  1999        11160  2199957383337
10  Germany  2000        11073  1949953934034
11  Germany  2001        11167  1950648769575
12  Germany  2002        11176  2079136081310
13  Germany  2003        11155  2505733634312
14  Germany  2004        10741  2819245095605
15  Germany  2005        10270  2861410272354
16  Germany  2006         9775  3002446368084
17  Germany  2007         9409  3439953462907
18  Germany  2008         9459  3752365607148
19  Germany  2009         9579  3418005001389
20  Germany  2010        10030  3417094562649
21  Germany  2011        10153  3757698281118
22  Germany  2012         9896  3543983909148
23  Germany  2013        10091  3752513503278
24  Germany  2014        10217  3890606893347
25  Germany  2015        10088  3375611100742
26    Spain  1985         2514   180302412231
27    Spain  1986         2755   250638463467
28    Spain  1987         2804   317882187037
29    Spain  1988         2960   375138723325
30    Spain  1989         2987   413630538018
31    Spain  1990         2939   535101248776
32    Spain  1991         2916   575598537070
33    Spain  1992         2786   629202392004
34    Spain  1993         3037   523649481762
35    Spain  1994         3171   529121577320
36    Spain  1995         3157   612939685081
37    Spain  1996         3320   640998292395
38    Spain  1997         3373   588692045455
39    Spain  1998         3261   617041986858
40    Spain  1999         3220   633194118900
41    Spain  2000         3394   595402616547
42    Spain  2001         3189   625975838926
43    Spain  2002         3372   705145868624
44    Spain  2003         3478   906853273138
45    Spain  2004         3508  1069555500372
46    Spain  2005         3399  1157276458152
47    Spain  2006         3247  1264551499185
48    Spain  2007         3264  1479341637011
49    Spain  2008         3457  1635015380108
50    Spain  2009         3429  1499099749931
51    Spain  2010         3158  1431616749640
52    Spain  2011         3180  1488067258325
53    Spain  2012         3539  1336018949806
54    Spain  2013         3873  1361854206549
55    Spain  2014         3911  1376910811041
56    Spain  2015         3604  1197789902774

In [ ]:
#df2[df2.year >= 2005]

df4=df3.loc[(df3['year'] >=2005) & (df3['year'] <=2015)]
df4

In [ ]:
df1

In [ ]:
data1 = pd.read_csv('poblacion_mundial.csv')
df5=pd.DataFrame(data1)
df5.head(100)

In [ ]:
df6=df5.loc[df.Country Name=='Spain']
df6