In [1]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient('localhost', 27017)

db = client.companies_v1
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies_v1')

In [18]:
#CREACIÃ“N DEL NUEVO DATASET PREPARADO PARA REALIZAR LAS GEOQUERIES.
oficina = db.companies_v1.find({})
dataset1 = pd.DataFrame(oficina)
dataset1.head()

,_id,category_code,founded_year,geojson,latitude,longitude,name,number_of_employees,offices
0,5cd5954ae217c00db4dcb3ac,web,2006,"{'coordinates': [-118.393064, 34.090368], 'typ...",34.090368,-118.393064,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393..."
1,5cd5954ae217c00db4dcb3ad,web,2007,"{'coordinates': [-118.487267, 34.017606], 'typ...",34.017606,-118.487267,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487..."
2,5cd5954ae217c00db4dcb3ae,games_video,2006,"{'coordinates': [-122.409173, 37.788482], 'typ...",37.788482,-122.409173,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409..."
3,5cd5954ae217c00db4dcb3af,web,2007,"{'coordinates': [-119.306607, 37.269175], 'typ...",37.269175,-119.306607,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306..."
4,5cd5954ae217c00db4dcb3b0,games_video,2006,"{'coordinates': [-118.254558, 34.051409], 'typ...",34.051409,-118.254558,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254..."

In [3]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 9 columns):
_id                    1498 non-null object
category_code          1498 non-null object
founded_year           1498 non-null int64
geojson                1498 non-null object
latitude               1498 non-null float64
longitude              1498 non-null float64
name                   1498 non-null object
number_of_employees    1498 non-null int64
offices                1498 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 105.4+ KB

In [5]:
#GEOQUERIES PARA SACAR EL NUMERO DE TRAJADORES CERCA DE CADA EMPRESA.
def empleados_cerca(a, b, dist=600):
    df_temporal1 = pd.DataFrame(db.companies_v1.find({
    "geojson": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ a , b ]
       },
       "$maxDistance": dist, # In meters
     }
   }
}))
    return sum(df_temporal1.number_of_employees)

In [6]:
dataset1['emp_a_600'] = dataset1.apply(lambda x: empleados_cerca(x['longitude'], x['latitude'], dist=600),axis=1)
dataset1.head()

,_id,category_code,founded_year,geojson,latitude,longitude,name,number_of_employees,offices,emp_a_600
0,5cd5954ae217c00db4dcb3ac,web,2006,"{'coordinates': [-118.393064, 34.090368], 'typ...",34.090368,-118.393064,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393...",18
1,5cd5954ae217c00db4dcb3ad,web,2007,"{'coordinates': [-118.487267, 34.017606], 'typ...",34.017606,-118.487267,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487...",48
2,5cd5954ae217c00db4dcb3ae,games_video,2006,"{'coordinates': [-122.409173, 37.788482], 'typ...",37.788482,-122.409173,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409...",126
3,5cd5954ae217c00db4dcb3af,web,2007,"{'coordinates': [-119.306607, 37.269175], 'typ...",37.269175,-119.306607,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306...",101
4,5cd5954ae217c00db4dcb3b0,games_video,2006,"{'coordinates': [-118.254558, 34.051409], 'typ...",34.051409,-118.254558,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254...",70

In [7]:
def empleados_cerca(a, b, dist=1000):
    df_temporal1 = pd.DataFrame(db.companies_v1.find({
    "geojson": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ a , b ]
       },
       "$maxDistance": dist, # In meters
     }
   }
}))
    return sum(df_temporal1.number_of_employees)

In [8]:
dataset1['emp_a_1000'] = dataset1.apply(lambda x: empleados_cerca(x['longitude'], x['latitude'], dist=1000),axis=1)
dataset1.head()

,_id,category_code,founded_year,geojson,latitude,longitude,name,number_of_employees,offices,emp_a_600,emp_a_1000
0,5cd5954ae217c00db4dcb3ac,web,2006,"{'coordinates': [-118.393064, 34.090368], 'typ...",34.090368,-118.393064,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393...",18,18
1,5cd5954ae217c00db4dcb3ad,web,2007,"{'coordinates': [-118.487267, 34.017606], 'typ...",34.017606,-118.487267,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487...",48,88
2,5cd5954ae217c00db4dcb3ae,games_video,2006,"{'coordinates': [-122.409173, 37.788482], 'typ...",37.788482,-122.409173,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409...",126,866
3,5cd5954ae217c00db4dcb3af,web,2007,"{'coordinates': [-119.306607, 37.269175], 'typ...",37.269175,-119.306607,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306...",101,101
4,5cd5954ae217c00db4dcb3b0,games_video,2006,"{'coordinates': [-118.254558, 34.051409], 'typ...",34.051409,-118.254558,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254...",70,75

In [9]:
#GEOQUERIES PARA SACAR EL NUMERO DE EMPRESAS CERCA DE CADA EMPRESA.
def empresas_cerca(a, b, dist=600):
    df_temporal1 = pd.DataFrame(db.companies_v1.find({
    "geojson": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ a , b ]
       },
       "$maxDistance": dist, # In meters
     }
   }
}))
    return len(df_temporal1)

In [10]:
dataset1['empresas_a_600'] = dataset1.apply(lambda x: empresas_cerca(x['longitude'], x['latitude'], dist=600),axis=1)
dataset1.head()

,_id,category_code,founded_year,geojson,latitude,longitude,name,number_of_employees,offices,emp_a_600,emp_a_1000,empresas_a_600
0,5cd5954ae217c00db4dcb3ac,web,2006,"{'coordinates': [-118.393064, 34.090368], 'typ...",34.090368,-118.393064,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393...",18,18,1
1,5cd5954ae217c00db4dcb3ad,web,2007,"{'coordinates': [-118.487267, 34.017606], 'typ...",34.017606,-118.487267,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487...",48,88,2
2,5cd5954ae217c00db4dcb3ae,games_video,2006,"{'coordinates': [-122.409173, 37.788482], 'typ...",37.788482,-122.409173,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409...",126,866,8
3,5cd5954ae217c00db4dcb3af,web,2007,"{'coordinates': [-119.306607, 37.269175], 'typ...",37.269175,-119.306607,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306...",101,101,5
4,5cd5954ae217c00db4dcb3b0,games_video,2006,"{'coordinates': [-118.254558, 34.051409], 'typ...",34.051409,-118.254558,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254...",70,75,2

In [11]:
def empresas_cerca(a, b, dist=1000):
    df_temporal1 = pd.DataFrame(db.companies_v1.find({
    "geojson": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ a , b ]
       },
       "$maxDistance": dist, # In meters
     }
   }
}))
    return len(df_temporal1)

In [12]:
dataset1['empresas_a_1000'] = dataset1.apply(lambda x: empresas_cerca(x['longitude'], x['latitude'], dist=1000),axis=1)
dataset1.head()

,_id,category_code,founded_year,geojson,latitude,longitude,name,number_of_employees,offices,emp_a_600,emp_a_1000,empresas_a_600,empresas_a_1000
0,5cd5954ae217c00db4dcb3ac,web,2006,"{'coordinates': [-118.393064, 34.090368], 'typ...",34.090368,-118.393064,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393...",18,18,1,1
1,5cd5954ae217c00db4dcb3ad,web,2007,"{'coordinates': [-118.487267, 34.017606], 'typ...",34.017606,-118.487267,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487...",48,88,2,3
2,5cd5954ae217c00db4dcb3ae,games_video,2006,"{'coordinates': [-122.409173, 37.788482], 'typ...",37.788482,-122.409173,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409...",126,866,8,28
3,5cd5954ae217c00db4dcb3af,web,2007,"{'coordinates': [-119.306607, 37.269175], 'typ...",37.269175,-119.306607,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306...",101,101,5,5
4,5cd5954ae217c00db4dcb3b0,games_video,2006,"{'coordinates': [-118.254558, 34.051409], 'typ...",34.051409,-118.254558,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254...",70,75,2,3

In [13]:
dataset1.drop('_id', axis=1, inplace=True)

In [17]:
dataset1.head(100)

,category_code,founded_year,geojson,latitude,longitude,name,number_of_employees,offices,emp_a_600,emp_a_1000,empresas_a_600,empresas_a_1000,600m
0,web,2006,"{'coordinates': [-118.393064, 34.090368], 'typ...",34.090368,-118.393064,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393...",18,18,1,1,18
1,web,2007,"{'coordinates': [-118.487267, 34.017606], 'typ...",34.017606,-118.487267,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487...",48,88,2,3,48
2,games_video,2006,"{'coordinates': [-122.409173, 37.788482], 'typ...",37.788482,-122.409173,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409...",126,866,8,28,126
3,web,2007,"{'coordinates': [-119.306607, 37.269175], 'typ...",37.269175,-119.306607,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306...",101,101,5,5,101
4,games_video,2006,"{'coordinates': [-118.254558, 34.051409], 'typ...",34.051409,-118.254558,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254...",70,75,2,3,70
5,games_video,2007,"{'coordinates': [-73.995625, 40.726155], 'type...",40.726155,-73.995625,Livestream,120,"[{'latitude': 40.726155, 'longitude': -73.9956...",134,224,4,10,134
6,games_video,2007,"{'coordinates': [-74.3372, 40.801358], 'type':...",40.801358,-74.337200,AdaptiveBlue,15,"[{'latitude': 40.801358, 'longitude': -74.3372}]",15,15,1,1,15
7,mobile,2006,"{'coordinates': [-121.932202, 37.465645], 'typ...",37.465645,-121.932202,GrandCentral,3,"[{'latitude': 37.465645, 'longitude': -121.932...",3,3,1,1,3
8,web,2007,"{'coordinates': [-122.397224, 37.762541], 'typ...",37.762541,-122.397224,Pownce,6,"[{'latitude': 37.762541, 'longitude': -122.397...",29,266,4,8,29
9,web,2007,"{'coordinates': [-119.306607, 37.269175], 'typ...",37.269175,-119.306607,SodaHead,25,"[{'latitude': 37.269175, 'longitude': -119.306...",101,101,5,5,101
10,mobile,2006,"{'coordinates': [24.93105, 60.16377], 'type': ...",60.163770,24.931050,Jaiku,8,"[{'latitude': 60.16377, 'longitude': 24.93105}]",15,27,2,4,15
11,web,2007,"{'coordinates': [-121.940749, 37.380101], 'typ...",37.380101,-121.940749,Spotplex,3,"[{'latitude': 37.380101, 'longitude': -121.940...",3,3,1,1,3
12,web,2007,"{'coordinates': [4.8948623, 52.3745228], 'type...",52.374523,4.894862,Wakoopa,8,"[{'latitude': 52.3745228, 'longitude': 4.89486...",8,50,1,5,8
13,web,2006,"{'coordinates': [4.908556, 52.375595], 'type':...",52.375595,4.908556,Fleck,3,"[{'latitude': 52.375595, 'longitude': 4.908556}]",3,15,1,3,3
14,web,2006,"{'coordinates': [-1.3610845, 50.9444598], 'typ...",50.944460,-1.361085,Zamzar,2,"[{'latitude': 50.9444598, 'longitude': -1.3610...",2,2,1,1,2
15,web,2006,"{'coordinates': [-122.414689, 37.758113], 'typ...",37.758113,-122.414689,Pageflakes,20,"[{'latitude': 37.758113, 'longitude': -122.414...",35,35,6,6,35
16,web,2007,"{'coordinates': [-122.511687, 37.90077], 'type...",37.900770,-122.511687,CrowdVine,10,"[{'latitude': 37.90077, 'longitude': -122.5116...",10,10,1,1,10
17,web,2006,"{'coordinates': [2.381514, 48.866323], 'type':...",48.866323,2.381514,WatZatSong,3,"[{'latitude': 48.866323, 'longitude': 2.381514}]",3,3,1,1,3
18,web,2006,"{'coordinates': [-122.39071, 37.779507], 'type...",37.779507,-122.390710,Eventbrite,200,"[{'latitude': 37.779507, 'longitude': -122.390...",486,496,18,19,486
19,web,2006,"{'coordinates': [-122.159928, 37.437328], 'typ...",37.437328,-122.159928,Terabitz,12,"[{'latitude': 37.437328, 'longitude': -122.159...",20,93,4,16,20
20,web,2007,"{'coordinates': [-122.419204, 37.775196], 'typ...",37.775196,-122.419204,Seesmic,13,"[{'latitude': 37.775196, 'longitude': -122.419...",289,384,16,22,289
21,web,2006,"{'coordinates': [-78.48158, 38.030823], 'type'...",38.030823,-78.481580,Hotelicopter,15,"[{'latitude': 38.030823, 'longitude': -78.48158}]",15,15,1,1,15
22,web,2007,"{'coordinates': [-122.392861, 37.76785], 'type...",37.767850,-122.392861,Ujogo,6,"[{'latitude': 37.76785, 'longitude': -122.3928...",6,208,1,9,6
23,software,2008,"{'coordinates': [-122.392142, 37.782263], 'typ...",37.782263,-122.392142,GoingOn,40,"[{'latitude': 37.782263, 'longitude': -122.392...",476,774,16,31,476
24,web,2006,"{'coordinates': [-122.406676, 37.766909], 'typ...",37.766909,-122.406676,Flixster,75,"[{'latitude': 37.766909, 'longitude': -122.406...",95,290,3,10,95
25,software,2006,"{'coordinates': [-121.8731805, 37.6637279], 't...",37.663728,-121.873181,spigit,120,"[{'latitude': 37.6637279, 'longitude': -121.87...",120,120,1,1,120
26,web,2006,"{'coordinates': [-122.321836, 37.55909], 'type...",37.559090,-122.321836,Respectance,15,"[{'latitude': 37.55909, 'longitude': -122.3218...",15,54,1,3,15
27,software,2006,"{'coordinates': [-111.944967, 33.429864], 'typ...",33.429864,-111.944967,JumpBox,5,"[{'latitude': 33.429864, 'longitude': -111.944...",5,5,1,1,5
28,web,2006,"{'coordinates': [-105.276843, 40.010492], 'typ...",40.010492,-105.276843,IntenseDebate,4,"[{'latitude': 40.010492, 'longitude': -105.276...",18,39,2,5,18
29,mobile,2006,"{'coordinates': [18.1582777, 59.3167843], 'typ...",59.316784,18.158278,Rebtel,75,"[{'latitude': 59.3167843, 'longitude': 18.1582...",75,75,1,1,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,web,2007,"{'coordinates': [-122.495222, 37.856331], 'typ...",37.856331,-122.495222,Whiskey Media,12,"[{'latitude': 37.856331, 'longitude': -122.495...",12,12,1,1,12
71,games_video,2009,"{'coordinates': [10.023246, 53.707739], 'type'...",53.707739,10.023246,alluc,7,"[{'latitude': 53.707739, 'longitude': 10.023246}]",7,7,1,1,7
72,web,2007,"{'coordinates': [-122.083487, 37.386175], 'typ...",37.386175,-122.083487,Polyvore,73,"[{'latitude': 37.386175, 'longitude': -122.083...",75,93,2,5,75
73,games_video,2006,"{'coordinates': [-122.300246, 37.553743], 'typ...",37.553743,-122.300246,Veodia,15,"[{'latitude': 37.553743, 'longitude': -122.300...",298,338,3,4,298
74,web,2006,"{'coordinates': [-122.430127, 37.772542], 'typ...",37.772542,-122.430127,Crusher,3,"[{'latitude': 37.772542, 'longitude': -122.430...",3,33,1,5,3
75,web,2006,"{'coordinates': [-75.298032, 40.09665], 'type'...",40.096650,-75.298032,XLNTads,6,"[{'latitude': 40.09665, 'longitude': -75.298032}]",6,6,1,1,6
76,web,2007,"{'coordinates': [24.9279199, 60.1760995], 'typ...",60.176099,24.927920,Floobs,10,"[{'latitude': 60.1760995, 'longitude': 24.9279...",10,10,1,1,10
77,web,2007,"{'coordinates': [-122.397672, 37.786906], 'typ...",37.786906,-122.397672,Disqus,43,"[{'latitude': 37.786906, 'longitude': -122.397...",865,1257,29,48,865
78,web,2006,"{'coordinates': [-122.085807, 37.351894], 'typ...",37.351894,-122.085807,SezWho,9,"[{'latitude': 37.351894, 'longitude': -122.085...",9,9,1,1,9
79,games_video,2007,"{'coordinates': [-94.370901, 38.977092], 'type...",38.977092,-94.370901,FilmCrave,3,"[{'latitude': 38.977092, 'longitude': -94.3709...",3,3,1,1,3
80,games_video,2007,"{'coordinates': [-121.956295, 37.279132], 'typ...",37.279132,-121.956295,DraftMix,3,"[{'latitude': 37.279132, 'longitude': -121.956...",3,3,1,1,3
81,web,2006,"{'coordinates': [13.398694, 52.523402], 'type'...",52.523402,13.398694,Plazes,15,"[{'latitude': 52.523402, 'longitude': 13.398694}]",27,32,2,3,27
82,web,2007,"{'coordinates': [-71.288568, 42.402378], 'type...",42.402378,-71.288568,StylePath,4,"[{'latitude': 42.402378, 'longitude': -71.2885...",4,4,1,1,4
83,games_video,2007,"{'coordinates': [-118.468672, 34.064139], 'typ...",34.064139,-118.468672,GotCast,5,"[{'latitude': 34.064139, 'longitude': -118.468...",28,28,2,2,28
84,web,2006,"{'coordinates': [34.7595, 32.0554], 'type': 'P...",32.055400,34.759500,Yedda,5,"[{'latitude': 32.0554, 'longitude': 34.7595}]",79,79,8,8,79
85,web,2007,"{'coordinates': [-122.296411, 37.838225], 'typ...",37.838225,-122.296411,RepairPal,25,"[{'latitude': 37.838225, 'longitude': -122.296...",25,35,1,2,25
86,web,2007,"{'coordinates': [-122.394958, 37.781262], 'typ...",37.781262,-122.394958,Dipity,4,"[{'latitude': 37.781262, 'longitude': -122.394...",496,804,19,32,496
87,software,2006,"{'coordinates': [-122.3355636, 47.6018824], 't...",47.601882,-122.335564,Jackson Fish Market,3,"[{'latitude': 47.6018824, 'longitude': -122.33...",258,396,10,13,258
88,web,2006,"{'coordinates': [-122.347533, 47.620716], 'typ...",47.620716,-122.347533,RealSelf,23,"[{'latitude': 47.620716, 'longitude': -122.347...",46,90,4,8,46
89,software,2007,"{'coordinates': [-118.455798, 33.971132], 'typ...",33.971132,-118.455798,littleye,3,"[{'latitude': 33.971132, 'longitude': -118.455...",3,3,1,1,3
90,web,2007,"{'coordinates': [-122.402468, 37.803847], 'typ...",37.803847,-122.402468,GameLayers,5,"[{'latitude': 37.803847, 'longitude': -122.402...",16,120,4,9,16
91,mobile,2006,"{'coordinates': [-118.472297, 33.999004], 'typ...",33.999004,-118.472297,Mogreet,30,"[{'latitude': 33.999004, 'longitude': -118.472...",30,30,1,1,30
92,web,2007,"{'coordinates': [-77.095965, 38.984172], 'type...",38.984172,-77.095965,WEbook,10,"[{'latitude': 38.984172, 'longitude': -77.0959...",10,22,1,2,10
93,web,2007,"{'coordinates': [-84.3927, 33.7759], 'type': '...",33.775900,-84.392700,Skribit,3,"[{'latitude': 33.7759, 'longitude': -84.3927}]",3,3,1,1,3
94,web,2006,"{'coordinates': [-79.435661, 43.744031], 'type...",43.744031,-79.435661,AddLiveVoice,5,"[{'latitude': 43.744031, 'longitude': -79.4356...",5,5,1,1,5
95,web,2006,"{'coordinates': [-94.4284985, 38.9143473], 'ty...",38.914347,-94.428499,Doodlekit,2,"[{'latitude': 38.9143473, 'longitude': -94.428...",2,2,1,1,2
96,music,2006,"{'coordinates': [2.3283853, 48.8780596], 'type...",48.878060,2.328385,Deezer,200,"[{'latitude': 48.8780596, 'longitude': 2.32838...",225,228,4,5,225
97,web,2007,"{'coordinates': [9.993586, 53.540804], 'type':...",53.540804,9.993586,MyNeighborhood,3,"[{'latitude': 53.540804, 'longitude': 9.993586}]",3,3,1,1,3
98,web,2007,"{'coordinates': [-80.058401, 26.820375], 'type...",26.820375,-80.058401,divorce360,6,"[{'latitude': 26.820375, 'longitude': -80.0584...",6,6,1,1,6
99,software,2006,"{'coordinates': [-71.118487, 42.375392], 'type...",42.375392,-71.118487,HubSpot,650,"[{'latitude': 42.375392, 'longitude': -71.1184...",674,674,5,5,674

In [15]:
#DESCARGO EL DATASET Y ME LO LLEVO A TABLEAU PARA VISUALIZARLO Y SACAR CONCLUSIÃ“N.
dataset1.to_json('dataset1.json', orient='records')

In [ ]:
El lugar ideal para colocar la oficina serÃ­a en Mission ST, San Francisco (37.47056, 12224139), 
lugar donde convergen el mayor nÃºmero de empresas tecnolÃ³gicas pequeÃ±as, medianas y grandes 
que, a su vez, albergan el una gran concentraciÃ³n de empleados.

In [16]:
'''
lista=[]
for a,b in zip(dataset1['longitude'], dataset1['latitude']):
    df_temporal = pd.DataFrame(db.companies_v1.find({
    "geojson": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ a , b ]
       },
       "$maxDistance": 600, # In meters
     }
   }
}))
    suma = sum(df_temporal.number_of_employees)
    lista.append(suma)
print(len(lista))

dataset1['600m']= lista
dataset1.head()
'''


''''
def numero_emp_cerca(geojson, max_distance = 600):
    emp_cerca = pd.DataFrame(list(companies_v1.find(
        {'geojson': { '$near': {'$geometry': geojson, '$maxDistance': max_distance}}})))
    return sum(emp_cerca['number_of_employees'])
''''''
'''
nearLocation = {
    "lng": 37.793568,
    "lat": -122.404621
}

dataset1 = pd.DataFrame(db.companies_v1.find({
    "geojson": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ nearLocation["lat"] , nearLocation["lng"] ]
       },
       "$maxDistance": 600, # In meters
     }
   }
}))
x = sum(dataset1.number_of_employees)
x
'''

1498