In [4]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient('localhost', 27017)

db = client.companies_v1
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies_v1')

In [12]:

oficina = db.companies_v1.find({})
    #{'$and':
                            #  [ { "offices.latitude": {"$exists": True,"$ne":None} },
                            ##   { "offices.longitude": {"$exists": True,"$ne":None} },
                            #   {'founded_year': {'$gt': 2005 }}, 
                            #   {'number_of_employees': {'$gt': 1}}, 
                            #   {'$or':[{'category_code': 'web' },
                                    #   {'category_code': 'software' },
                                    #   {'category_code': 'games_video' },
                                    #   {'category_code': 'mobile' },
                                    #   {'category_code': 'music' },
                                     #  {'category_code': 'nanotech'}]}]}, 
                           #  {'name':1,'founded_year': 1, '_id': 0, 'number_of_employees':1,'offices.latitude':1, 'offices.longitude':1, 'category_code':1})

dataset1 = pd.DataFrame(oficina)
dataset1.head()

,_id,category_code,founded_year,geojson,latitude,longitude,name,number_of_employees,offices
0,5cd5954ae217c00db4dcb3ac,web,2006,"{'coordinates': [-118.393064, 34.090368], 'typ...",34.090368,-118.393064,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393..."
1,5cd5954ae217c00db4dcb3ad,web,2007,"{'coordinates': [-118.487267, 34.017606], 'typ...",34.017606,-118.487267,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487..."
2,5cd5954ae217c00db4dcb3ae,games_video,2006,"{'coordinates': [-122.409173, 37.788482], 'typ...",37.788482,-122.409173,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409..."
3,5cd5954ae217c00db4dcb3af,web,2007,"{'coordinates': [-119.306607, 37.269175], 'typ...",37.269175,-119.306607,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306..."
4,5cd5954ae217c00db4dcb3b0,games_video,2006,"{'coordinates': [-118.254558, 34.051409], 'typ...",34.051409,-118.254558,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254..."

In [19]:

nearLocation = {
    "lng": 37.793568,
    "lat": -122.404621
}

dataset1 = pd.DataFrame(db.companies_v1.find({
    "geojson": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ nearLocation["lat"] , nearLocation["lng"] ]
       },
       "$maxDistance": 1000, # In meters
     }
   }
}))
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 9 columns):
_id                    37 non-null object
category_code          37 non-null object
founded_year           37 non-null int64
geojson                37 non-null object
latitude               37 non-null float64
longitude              37 non-null float64
name                   37 non-null object
number_of_employees    37 non-null int64
offices                37 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.7+ KB

In [ ]:
def cuenta_emp
dataset1 = pd.DataFrame(db.companies_v1.find({
    "geojson": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ nearLocation["lat"] , nearLocation["lng"] ]
       },
       "$maxDistance": 1000, # In meters
     }
   }
}))
dataset1.info()