In [20]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient()

db = client.companies

for rest in db.companies.find({"name":"Facebook"}):
    print(rest['name'])

Facebook

- VISUALIZATION PROJECT Geospatial Business Intelligence (BI)
  * Make a geospartial analysis of the `companies` dataset
  * Things you know:
    - You have a software company with 50 employees
    - The company creates video games
    - Roles in your company: 20 developers, 20 Designers/Creatieves/UX/UI and 10 executives/managers
  * Do an analysis about placing the new company offices in the best environment based on the following criteria:
    - There should be software engineers working around
    - The surroundings must have a good ratio of big companies vs startups
    - Ensure you have in your surroundings companies that cover the interests of your team
    - Avoid old companies, prefer recently created ones

In [54]:
molonas = ['web', 'software', 'games_video','mobile', 'music', 'nanotech']

empresas = db.companies.find({'$and': [{'founded_year': {'$gt': 2005 }}, {'number_of_employees': {'$ne': None}}, {'$or':[{'category_code': 'web' },{'category_code': 'software' },{'category_code': 'games_video' },{'category_code': 'mobile' },{'category_code': 'music' },{'category_code': 'nanotech'}]}]}, {'name':1,'founded_year': 1, '_id': 0, 'number_of_employees':1,'offices.latitude':1, 'offices.longitude':1, 'category_code':1})

In [55]:
dataset = pd.DataFrame(empresas)
dataset.head(3)

,category_code,founded_year,name,number_of_employees,offices
0,web,2006,Geni,18,"[{'longitude': -118.393064, 'latitude': 34.090..."
1,games_video,2006,Joost,0,"[{'longitude': -74.0094471, 'latitude': 40.746..."
2,web,2007,Mahalo,40,"[{'longitude': -118.487267, 'latitude': 34.017..."

In [56]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2903 entries, 0 to 2902
Data columns (total 5 columns):
category_code          2903 non-null object
founded_year           2903 non-null int64
name                   2903 non-null object
number_of_employees    2903 non-null int64
offices                2903 non-null object
dtypes: int64(2), object(3)
memory usage: 113.5+ KB

In [53]:
dataset['category_code'].unique()

array(['web', 'music', 'games_video', 'mobile', 'software', 'nanotech'],
      dtype=object)

In [ ]:
# Get latitude 
def get_lat(coord): 
    try: 
        return coord[0]['latitude']
    except:
        return None

# Get longitude    
def get_long(coord): 
    try: 
        return coord[0]['longitude']
    except:
        return None

# Inserting new columns with latitude and longitude    
def insert_latlong(comp_d):   
    comp_d['latitude'] = comp_d['offices'].apply(get_lat)
    comp_d['longitude'] = comp_d['offices'].apply(get_long)
    return comp_d